body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
  background-color: rgb(12, 18, 35);
}
.main{
  background-color: rgb(12, 18, 35);
}
.logo {
  max-width: 100px;
  margin-top: 10px;
  border-radius: 68px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.top-name a{
  text-decoration: none;
  color: rgb(254, 248, 248);
  
}
.index{
  background-color: rgb(12, 18, 35);

}

ul {
  list-style-type: armenian;
  background-color: rgb(12, 18, 35);
  overflow: hidden;
  max-height: 100%;
  

}
li {
  display: inline-block;
  padding: 2px 16px 20px;
}
li a {
  border-radius: 50px;
  display: flex;
  text-align: center;
  text-decoration: solid;
  color: rgb(205, 90, 46);
  padding-left: 179px;
  
}



li a:hover {
  color: rgb(247, 243, 241);
}
.banner {
  margin-bottom: 0;
  padding-top: 0;
  padding-top: 70px;
  width: 100%;
  height: 550px;
  display: block;
 
 
}
.image-text {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin-top: 170px;
  bottom: 120px;
  top: 350px; 
  left: 20px;
  right: 20px;
  font-size: 20px; 
  color: rgb(244, 236, 236);
 
}
.container {
  display: flex;
  align-items: center; 
  padding-bottom: 25px;
  padding-top: 35px;
}
.vision {
 max-width: 30%;
 border-radius: 50%;

}
.vision-text{
  margin-left: 20px;
  text-size-adjust: 25px;
  text-emphasis-style: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.why_us-container {
  

  display: flex;

  flex-direction: row-reverse; 
  align-items: center; 
  
}
 


.why-choose-text {
  flex: 1; 
  padding: 20px; 
  font-family:Arial, Helvetica, sans-serif;
  margin-right: 150px;
  color: white;
}

.why_choose_us {
  max-width: 100%; 
  height: auto; 
  margin-left: 20px; 
  margin-right: 210px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid rgb(21, 18, 35);
  background-color: rgb(21, 18, 35);
  



}
div#why_choose_us  {
  background-image: none;
}
